[submodule "distortos"]
	path = distortos
	url = https://github.com/DISTORTEC/distortos.git
[submodule "STM32F7xx_HAL_Driver"]
	path = STM32F7xx_HAL_Driver
	url = https://github.com/DISTORTEC/STM32F7xx_HAL_Driver.git
[submodule "STM32F7xx_HAL_Driver-integration"]
	path = STM32F7xx_HAL_Driver-integration
	url = https://github.com/DISTORTEC/STM32F7xx_HAL_Driver-integration.git
[submodule "lwIP"]
	path = lwIP
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "lwIP-integration"]
	path = lwIP-integration
	url = https://github.com/DISTORTEC/lwIP-integration.git
